-- Fix RLS constraints for doctors temporarily 
ALTER TABLE doctors DISABLE ROW LEVEL SECURITY;
ALTER TABLE doctor_stats DISABLE ROW LEVEL SECURITY;
ALTER TABLE doctor_workplaces DISABLE ROW LEVEL SECURITY;
ALTER TABLE doctor_fees DISABLE ROW LEVEL SECURITY;

